body {
    margin: 0px;
    max-width: 1920px;
    min-width: 800px;

    display: flex;

    flex-wrap: wrap;
    flex-direction: column;
}

/* MENU BLOCK */

.header {
    height: 70px;
    width: 100%;
    padding: 15px 28px 15px 28px;
    border-bottom: solid 1px rgb(236, 236, 236);

    justify-content: space-between;

    display: flex;
    position: fixed;
    box-sizing: border-box;
}

.logo {
    margin-top: 5px;
}

.header-buttons {
    height: 40px;
    width: 455px;
    margin-top: 1px;
    background-color:white;

    display: flex;
    justify-content: flex-end;
}

.menu-explore {
    width: 86px;
}

.menu-cart {
    width: 63px;
}

.menu-login {
    width: 112px;
}

.menu-gallery {
    width: 192px;
}

.menu-text {
    display: block;
    margin: 9px 0px 20px 0px;
    color: rgb(136, 136, 136);
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
}

/* UNDERLINE EFFECT */

.menu-underlined::after {
    content: "";
    display: block;
    height: 2px;
    background: rgb(168, 207, 194);
    width: 0;
    transition: width 0.35s;
    margin: auto;
    margin-top: 5px;
    transition-timing-function: ease;
}
  
.menu-underlined-explore:hover::after {
    width: 54px;
}
      
.menu-underlined-cart:hover::after {
    width: 34px;
}

/* END */

#menu-login {
    height: 20px;
    width: 41px;
    margin: 1px auto;
    padding: 6px 18px 7px 18px;
    color: rgb(136, 136, 136);

    border: 2px;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    border-radius: 4px;

    transition-property: color, border-color;
    transition-duration: 0.35s;

    display: block;
}

#menu-login:hover {
    color: rgb(168, 207, 194);
    border-color: rgb(168, 207, 194);
}

#menu-gallery {
    height: 20px;
    width: 120.5px;
    margin: 1px auto;
    padding: 6px 18px 7px 18px;
    color: white;
    opacity: 1;

    border: 2px;
    border-style: solid;
    border-color: rgb(168, 207, 194);
    border-radius: 4px;
    background-color: rgb(168, 207, 194);

    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.35s;

    display: block;
}

#menu-gallery:hover{
    opacity: 0.9;
}

/* ADD NEW CONTAINER OF SERVICES WITH CSS GRID */

.item {
    background-color: gray;

    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-rows: 2fr 45px 7fr 2fr;
}

.item h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 200px;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: white;

    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.services-container {
    max-width: 1920px;
    min-width: 800px;

    display: grid;
    grid-template-columns: repeat(3, minmax(266px, 640px));
    grid-template-rows: 49px 56px 333px 333px;

    justify-items: center;
}

.services-topic {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: #515151;

    grid-column: span 3;
}

.services-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: lighter;

    color: #676767;

    grid-column: span 3;
}










/*

.services-topic {
    grid-area: topic;
}

.services-text {
    grid-area: under-topic;
}

.item-lustre {
    grid-area: lustre;
}

.item-canvas {
    grid-area: canvas;
}

.item-framing {
    grid-area: framing;
}

.item-metal {
    grid-area: metal;
}

.item-framed {
    grid-area: framed;
}

*/