body {
    margin: 0px;
    width: 1440px;
}

.header-space {
    height: 70px;
    width: 1440px;
    background-color: black;
}

.container {
    height: 50px;
    padding: 20px 28px 0px 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.shadow {
    height: 1px;
    width: 1440px;
    background-color: red;
}

.header-buttons {
    height: 50px;
    width: 455px;
    background-color: bisque;
    position: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* menu block */

.menu-explore {
    height: 50px;
    width: 86px;
    text-align: center;
}

.menu-cart {
    height: 50px;
    width: 63px;
    text-align: center;
}

.menu-login {
    height: 50px;
    width: 112px;
    text-align: center;
}

.menu-gallery {
    height: 50px;
    width: 192px;
    text-align: center;
}

.menu-explore a {
    display: block;
    margin: 4px 0px 20px 0px;
}