body {
    margin: 0px;
    width: 1440px;
}

/* menu block */

.header-space {
    height: 70px;
    width: 1440px;
    background-color: white;
}

.container {
    height: 40px;
    padding: 15px 28px 0px 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo {
    margin-top: 5px;
}

.header-shadow {
    height: 1px;
    width: 1440px;
    background-color: rgb(236, 236, 236);
}

.header-buttons {
    height: 40px;
    width: 455px;
    margin-top: 1px;
    background-color:white;
    position: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-explore {
    height: 40px;
    width: 86px;
    text-align: center;
}

.menu-cart {
    height: 40px;
    width: 63px;
    text-align: center;
}

.menu-login {
    height: 40px;
    width: 112px;
    text-align: center;
}

.menu-gallery {
    height: 40px;
    width: 192px;
    text-align: center;
}

.menu-button {
    display: block;
    margin: 9px 0px 20px 0px;
    color: rgb(136, 136, 136);
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

#menu-login {
    height: 20px;
    width: 41px;
    margin: 1px auto;
    padding: 6px 18px 7px 18px;

    border: 2px;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    border-radius: 4px;

    display: block;
}