@font-face 
    font-family: 'Quicksand'
    src: url(./Fonts/Quicksand-Light.ttf) format('truetype')
    font-weight: 300
    font-style: light


@font-face 
    font-family: 'Quicksand'
    src: url(./Fonts/Quicksand-Regular.ttf) format('truetype')
    font-weight: 400
    font-style: light


@font-face 
    font-family: 'Quicksand'
    src: url(./Fonts/Quicksand-Medium.ttf) format('truetype')
    font-weight: 500


@font-face 
    font-family: 'Quicksand'
    src: url(./Fonts/Quicksand-Bold.ttf) format('truetype')
    font-weight: 700


body 
    margin: 0px
    max-width: 1920px
    min-width: 300px
    background-color: var(--body-changes)

    transition-duration: 1s

    display: flex
    flex-wrap: wrap
    flex-direction: column


p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
.m-font 
    font-family: 'Quicksand', sans-serif
    font-weight: 300
    margin-top: 0px
    margin-bottom: 0px


.title 
    color: var(--topic-title-grey)
    font-size: 32px

    transition-duration: 1s


.description 
    color: var(--topic-title-grey)
    font-size: 16px
    opacity: var(--opacity-descrease)

    transition-duration: 1s


.create-button 
    position: relative
    bottom: 0px
    height: 19px
    width: 108px
    padding: 15px 22px 15px 22px
    border-radius: 4px
    box-shadow: 0px 0px 0px 0px rgba(128, 128, 128, 0)

    color: #FFFFFF
    font-size: 14px
    font-weight: 400
    text-decoration: none
    text-align: center
    opacity: 1
    background-color: var(--pastel-green)

    transition-property: opacity, bottom, box-shadow, color, background-color
    transition-duration: 0.25s
    transition-timing-function: ease

    z-index: 3


.create-button:hover 
    bottom: 5px
    box-shadow: 0px 10px 30px 3px rgba(128, 128, 128, 0.300)

    opacity: 1
    background-color: var(--middle-green)

    transition-duration: 1s
