/* PODCAST GRID AND POSITIONS */

.darkroom-podcasts {
    height: 100%;
    width: 100%;
    padding: 67px 0px 100px 0px;

    display: grid;
    grid-template-columns: 98px 1fr 2.8% 1fr 2.8% 1fr 98px; 
    grid-template-rows: 56px min-content 47px 1fr 100px min-content;

    justify-items: center;
}

/* PODCAST STRUCTURE */

.podcast-position-first {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.podcast-position-second {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.podcast-position-third {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
}

.podcast {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    box-shadow: 0px 1px 3px 1px rgba(128, 128, 128, 0.100);
    border-radius: 4px;

    display: grid;
    grid-template-columns: 17% 66% 17%;
    grid-template-rows: min-content 70px min-content 10px min-content 20px max-content 20px 1fr;

    align-items: center;
}

.podcast .biglink {
    height: 100%;
    width: 100%;

    grid-column: 1 / -1;
    grid-row: 1 / 9;

    z-index: 1;
}

.podcast .aspect-ration {
    padding-bottom: 63%;
    width: 0px;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.podcast .img-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.podcast .img-container img {
    width: 100%;

    transform: scale(1.04);

    transition-property: transform;
    transition-duration: 0.3s;
}

.podcast:hover .img-container img {
    transform: scale(1.07);
}

.podcast .link {
    height: 12px;
    width: 130px;
    margin: 20px 0px 0px 20px;
    padding: 2px 10px 6px 10px;
    
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    
    text-decoration: none;

    font-size: 12px;
    color: #FFFFFF;
    font-weight: 400;
    background-color: rgb(158, 196, 183, 0);

    transition-property: background-color, border;
    transition-duration: 0.3s;
    animation-timing-function: ease;

    position: absolute;

    z-index: 2;
}

.podcast .link:hover {
    border: 2px solid var(--pastel-green);
    background-color: var(--pastel-green);
}

.podcast .aspect-ration-second {
    padding-bottom: 128%;
    width: 0px;

    grid-column: 1 / -1;
    grid-row: 2 / -1;
}

.podcast .date {
    font-size: 12px;
    color: var(--middle-grey);
    opacity: var(--opacity-descrease);

    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.podcast .title {
    font-size: 20px;
    color:var(--middle-grey);
    line-height: 30px;

    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.podcast .text {
    font-size: 14px;
    color: var(--middle-grey);
    opacity: var(--opacity-descrease);
    line-height: 26px;

    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.podcast .author {
    display: flex;
    flex-direction: row;
    justify-content: left;

    height: 45px;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.1);

    grid-column: 1 / -1;

    align-content: end;
    align-items: center;
}

.podcast .author a {
    width: 160px;
    margin: 15px 0px 15px 0px;

    font-size: 12px;
    font-weight: 400;

    color: #B9B9B9;
    text-decoration: none;
}

.podcast .author::before {
    width: 15px;
    height: 15px;
    margin: 0px 10px 0px 20px;

    content: "";
    background-image: url(../Media/10/author-na.png);
    background-size: cover;

    transition-property: background-image;
    transition-duration: 0.3s;
}

.podcast .author:hover::before {
    background-image: url(../Media/10/author-a.png);
}

/* TEXT BLOCK */

.darkroom-podcasts h3 {
    grid-column: 1 / -1;
    grid-row: 1;

    color: var(--topic-title-grey);
    opacity: var(--opacity-descrease);
}

.darkroom-podcasts p {
    grid-column: 1 / -1;
    grid-row: 2;

    color: var(--topic-title-grey);
}

.view-all-posts {
    height: 50px;
    width: 173px;
    border-radius: 4px;

    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--podcast-green);
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(128, 128, 128, 0);

    bottom: 0px;
    position: relative;

    display: grid;
    justify-items: center;
    align-items: center;

    transition-property: opacity, bottom, box-shadow, color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    z-index: 3;

    grid-column: 1 / -1;
    grid-row: 7;
}

.view-all-posts:hover {
    opacity: var(--opacity-increase);
    box-shadow: 0px 10px 30px 3px rgba(128, 128, 128, 0.400);
    background-color: var(--viewallpost-green);

    bottom: 3px;
}

.view-all-posts p {
    height: 18px;
    width: 100px;
    position: relative;
    right: 0px;

    color: #FFFFFF;

    grid-column: 1 / -1;
    grid-row: 1 / -1;

    transition-duration: 0.3s;
    transition-property: right;
    animation-timing-function: ease-in;
}

.view-all-posts:hover p {
    right: 15px;
}

.view-all-posts img {
    top: 14px;
    right: 40px;
    height: 25px;
    width: 25px;

    position: absolute;
    opacity: 0;

    transition-property: right, opacity;
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
}

.view-all-posts:hover img {
    right: 22px;
    opacity: 1;
}

.view-all-posts a {
    height: 50px;
    width: 173px;

    position: absolute;

    z-index: 3;
}

