.easypeasy-container {
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 98px 1fr 1fr 98px;
    grid-template-rows: 1fr;
}

.easypeasy-container .aspect-ration {
    padding-bottom: 55%;
    width: 0px;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

/* PICTIRE BLOCK */

.easypeasy-container-pictures {
    height: 100%;
    width: 100%;

    display: grid;
    grid-column: 2 / 3;
    grid-row: 1;
    grid-template-columns: 20% 58% 22%;
    grid-template-rows: 0.5fr min-content 1.50fr;
}

.easypeasy-container-pictures-pic {
    height: 100%;
    width: 100%;

    background-color: var(--square-template-grey);
    background-size: cover;

    transition-duration: 1s;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.easypeasy-container-pictures-pic::before {
    content: "";
    position: relative;
    right: 15%;
    top: -17%;
    height: 82%;
    box-shadow: 0px 10px 30px 10px rgba(128, 128, 128, 0.200);

    background-image: var(--easypeasy-template-first-pic);
    background-size: cover;

    transition-duration: 1s;

    display: block;
    z-index: 2;

    
}

.easypeasy-container-pictures-pic::after {
    content: "";
    position: relative;
    left: 25%;
    top: -50%;
    height: 95%;
    box-shadow: 0px 10px 30px 10px rgba(128, 128, 128, 0.200);
    
    background-image: var(--easypeasy-template-second-pic);
    background-size: cover;

    transition-duration: 1s;

    display: block;
    z-index: 1;
}

.easypeasy-container-pictures .aspect-ration {
    padding-bottom: 140%;
    width: 0px;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


/* TEXT BLOCK */

.easypeasy-container-text {
    height: 100%;
    min-width: 400px;
    max-width: 1000px;
    
    opacity: var(--opacity-descrease);

    transition-duration: 1s;

    display: grid;
    grid-column: 3 / 4;
    grid-row: 1;
    grid-template-columns: 13px 1fr 20%;
    grid-template-rows: 28% 7% min-content 3% 36% 21%; 
}

.easypeasy-container-text * {
    user-select: none;
}

.easypeasy-container-text .image {
    width: 45px;

    justify-items: start;
    grid-column: 2 / 3;
}

.easypeasy-container-text h2 {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
}

.easypeasy-container-text h6 {
    line-height: 26px;
    
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

/* BUTTTON IN DASHBOARD */

.easypeasy-container-text .position-button {
    grid-column: 2 / -1;
    grid-row: 5;
}