.profits-container {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 98px 1fr 1fr 98px;
    grid-template-rows: 1fr;
}

.profits-container .aspect-ration {
    padding-bottom: 55%;
    width: 0px;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

/* PICTIRE BLOCK */

.profits-container-pictures {
    width: 100%;
    height: 100%;

    grid-column: 3 / 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 20% 58% 22%;
    grid-template-rows: 0.5fr min-content 1.50fr;
}

.profits-container-pictures-pic {
    width: 100%;
    height: 100%;

    background-color: rgb(241, 241, 241);
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.profits-container-pictures-pic:before {
    content: "";
    display: block;
    height: 65%;
    
    position: relative;
    top: -4%;
    right: 15%;

    box-shadow: 0px 10px 30px 10px rgba(128, 128, 128, 0.200);

    background-image: url(../Media/4/1.png);
    background-size: cover;

    z-index: 2;
}

.profits-container-pictures-pic:after {
    position: relative;
    top: -35%;
    left: 25%;
    height: 95%;

    content: "";
    display: block;

    box-shadow: 0px 10px 30px 10px rgba(128, 128, 128, 0.200);

    background-image: url(../Media/4/2.jpg);
    background-size: cover;

    z-index: 1;
}

.profits-container-pictures .aspect-ration {
    padding-bottom: 140%;
    width: 0px;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


/* TEXT BLOCK */

.profits-container-text {
    display: grid;

    min-width: 400px;
    max-width: auto;
    height: 100%;

    opacity: 0.8;

    grid-template-columns: 1fr 25%;
    grid-template-rows: 26% 7% min-content 3% 36% 23%; 
    grid-column: 2 / 3;
    grid-row: 1;
}

.profits-container-text * {
    user-select: none;
}

.profits-container-text .image {
    width: 45px;

    justify-items: start;
    grid-column: 2 / 3;
}

.profits-container-text h2 {
    font-size: 32px;
    color: rgb(81, 81, 81);

    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.profits-container-text h6 {
    font-size: 16px;
    line-height: 26px;
    color: rgb(68, 68, 68);
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

/* BUTTTON IN DASHBOARD */

.profits-container-text .screen-button {
    height: 19px;
    width: 108px;
    padding: 15px 22px 15px 22px;
    border-radius: 4px;

    font-size: 14px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    background-color: rgb(158, 196, 183);
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(128, 128, 128, 0);

    bottom: 0px;
    position: relative;

    transition-property: opacity, bottom, box-shadow, color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    z-index: 3;

    grid-column: 1 / -1;
    grid-row: 5;
}

.profits-container-text .screen-button:hover {
    opacity: 1;
    box-shadow: 0px 10px 30px 3px rgba(128, 128, 128, 0.300);
    background-color: rgb(168, 207, 194);

    bottom: 5px;
}