.profits-container 
    height: auto
    width: 100%

    display: grid
    grid-template-columns: 98px 1fr 1fr 98px
    grid-template-rows: 1fr

    & .aspect-ration 
        padding-bottom: 55%
        width: 0px

        grid-column: 1 / -1
        grid-row: 1 / -1

    &-pictures  /* PICTIRE BLOCK */
        height: 100%
        width: 100%

        display: grid
        grid-column: 3 / 4
        grid-row: 1

        grid-template-columns: 20% 58% 22%
        grid-template-rows: 0.5fr min-content 1.50fr

        & .aspect-ration 
            padding-bottom: 140%
            width: 0px

            grid-column: 2 / 3
            grid-row: 2 / 3

        &-pic 
            height: 100%
            width: 100%

            background-color: var(--square-template-grey)
            background-size: cover

            transition-duration: 1s

            grid-column: 2 / 3
            grid-row: 2 / 3

            &::before 
                content: ""
                position: relative
                right: 15%
                top: -4%
                height: 65%
                box-shadow: 0px 10px 30px 10px rgba(128, 128, 128, 0.200)

                background-image: var(--profits-template-first-pic)
                background-size: cover

                transition-duration: 1s

                display: block
                z-index: 2

            &::after 
                content: ""
                position: relative
                left: 25%
                top: -35%
                height: 95%
                box-shadow: 0px 10px 30px 10px rgba(128, 128, 128, 0.200)

                opacity: var(--opacity-descrease)
                background-image: var(--profits-template-second-pic)
                background-size: cover
                
                transition-duration: 1s
                
                display: block
                z-index: 1    

    &-text /* TEXT BLOCK */
        height: 100%
        min-width: 200px
        max-width: 1000px

        opacity: var(--opacity-descrease)

        transition-duration: 1s

        display: grid
        grid-column: 2 / 3
        grid-row: 1
        grid-template-columns: 1fr 25%
        grid-template-rows: 26% 7% min-content 3% 36% 23% 


        & * 
            user-select: none

        & .image 
            width: 45px

            justify-items: start
            grid-column: 2 / 3

        & h2 
            color: var(--title-text-grey)

            transition-duration: 1s

            grid-column: 1 / -1
            grid-row: 2 / 3

        & h6 
            color: var(--title-text-grey)
            line-height: 26px

            transition-duration: 1s
            
            grid-column: 1 / 2
            grid-row: 3 / 4

        & .position-button /* BUTTTON IN DASHBOARD */
            grid-column: 1 / -1
            grid-row: 5
