@media (prefers-color-scheme: dark) {

    body {
        background-color: #060A0F !important;
    }

    .create-button {
        color: #FFFFFF;
        background-color: #79CAB5;
    }
    
    .create-button:hover {
        background-color: #79CAB5;
    }

    .title {
        font-size: 32px;
        color: #FFFFFF !important;
    }
    
    .description {
        font-size: #FFFFFF;
        color: #FFFFFF !important;
        opacity: 0.7 !important;
    }

    .header {
        border-bottom: solid 1px #35393F;
        background-color: #24272B;
    }

    .menu-text {
        color: #FFFFFF;
    }
    
    .dark-mode-button {
        color: #FFFFFF;
        background-color: #35393F;
    }
        
    .dark-mode-button:hover {
        background-color: #FFFFFF;
        color: #242424;
    }

    .dark-mode-button::after {
        background-image: url(../Media/Sun.png);
    }

    /* UNDERLINE EFFECT */
    
    .menu-underlined::after {
        background: #79CAB5;
    }

    /* END */
    
    #menu-login {
        color: #FFFFFF; 
        border: 2px solid #FFFFFF;
    }
    
    #menu-login:hover {
        color: #79CAB5;
        border-color: #79CAB5;
    }
    
    #menu-gallery {
        color: #FFFFFF;
        background-color: #79CAB5;
    }




    /* FIRST SCREEN BLOCK */

    .screen-container:after {
        background-image: linear-gradient(to top right, rgb(36, 39, 43), rgb(211, 211, 211));
    }
    
    .screen-container h6 {
        color: #FFFFFF;
    }
    
    .screen-container p {
        color: #FFFFFF;
    }
    
    .screen-container .position-button {
        background-color: #79CAB5;
    }
    
    .screen-container .create-button:hover {
        opacity: 1;
        box-shadow: 0px 10px 30px 3px rgba(128, 128, 128, 0.500);
    }




    /* WORKBLOCK */
    
    .workblock-container-pictures-pic {
        background-color: #35393F;
    }
    
    .workblock-container-pictures-pic:before {
        background-image: url(../Media/1/1-dark.png);
    }
    
    .workblock-container-pictures-pic:after {
        background-image: url(../Media/1/2-dark.png);
    }

    .workblock-container-text {
        opacity: 0.9;
    }
    
    /* TEXT BLOCK */
    
    .workblock-container-text h2 {
        color: #FFFFFF;
        opacity: 1;
    }
    
    .workblock-container-text h6 {
        color: #FFFFFF;
        opacity: 0.7;
    }
    
    .workblock-container-text p {
        color: #FFFFFF;
        opacity: 0.8;
    }




    /* DASHBOARD */

    .dashboard-container-pictures-pic {
        background-color: #35393F;
    }
    
    .dashboard-container-pictures-pic:before {
        background-image: url(../Media/2/1-dark.png);
    }
    
    .dashboard-container-pictures-pic:after {
        background-image: url(../Media/2/2-dark.png);
    }
    
    /* TEXT BLOCK */
    
    .dashboard-container-text {
        color: #FFFFFF;
        opacity: 0.9;
    }
    
    .dashboard-container-text h2 {
        color: #FFFFFF;
    }
    
    .dashboard-container-text h6 {
        color: #FFFFFF;
        opacity: 0.7;
    }
    
    .dashboard-container-text ul {
        color: #FFFFFF;
    }
    
    .dashboard-container-text li {
        color: #FFFFFF;
    }
    
    .dashboard-container-text li:after {
        background-image: url(../Media/2/done-dark.png);
        opacity: 1;
    }





    /* EASYPEASY */
    
    .easypeasy-container-pictures-pic {
        background-color: #35393F;
    }
    
    .easypeasy-container-pictures-pic:before {
        background-image: url(../Media/3/1-dark.png);
    }
    
    .easypeasy-container-pictures-pic:after {
        background-image: url(../Media/3/2-dark.png);
    }
    
    /* TEXT BLOCK */
    
    .easypeasy-container-text {
        opacity: 0.9;
    }
    
    .easypeasy-container-text h2 {
        color: #FFFFFF;
    }
    
    .easypeasy-container-text h6 {
        color: #FFFFFF;
        opacity: 0.7;
    }




    /* PROFITS DESERVE BLOCK */

    .profits-container-pictures-pic {
        background-color: #35393F;
    }
    
    .profits-container-pictures-pic:before {
        background-image: url(../Media/4/1-dark.png);
    }
    
    .profits-container-pictures-pic:after {
        background-image: url(../Media/4/2-dark.png);
    }
    
    /* TEXT BLOCK */
    
    .profits-container-text {
        opacity: 0.9;
    }
    
    .profits-container-text h2 {
        color: #FFFFFF;
    }
    
    .profits-container-text h6 {
        color: #FFFFFF;
        opacity: 0.7;
    }




    /* COMMENTS BLOCK */


    
    .comments-slide .quote-text {
        background-color: #35393F;
        color: #FFFFFF;
    }
    
    .comments-slide .quote-text:before {
        color: #000000;
    }
    
    .comments-slide .quote-arrow {
        background-color: #35393F;
    }
    
    .comments-slide .name {
        color: #FFFFFF;
    }
    
    .comments-slide .profession {
        color: #FFFFFF;
        opacity: 0.7;
    }
    
    /* NOT ZOOM SLIDE */
    
    #notzoom-text {
        background-color: #FFFFFF;
        color: #3B424B;
    }
    
    #notzoom-slide {
        opacity: 0.3;
    }

    .item {
        background-color: #808080;
    }
    
    .item h1 {
        color: #FFFFFF;
    }
    
    .item p {
        color: #FFFFFF;
    }

    
    /* PSEUDO CLASS FOR ITEMS */
    
    .item-oe::after {
        background: #24272B;
    }
      
    .item-ue::before {
        background: #52AA91;
    }




    /* DARKROOM+ */

    .darkroom-container-style {
        border: 1px solid #35393F;
    }
    
    .darkroom-container-style::before {
        background-color: #79CAB5;
    }
    
    .darkroom-container a {
        color: #79CAB5;
    }
    
    /* TEXT BLOCK */
    
    .darkroom-container p {
        opacity: 0.7;
    }
    
    .darkroom-container-style h3 {
        color: #FFFFFF;
    }
    
    .darkroom-container-style .free::before {
        opacity: 0.7;
        background-image: url(../Media/9/basic-stack-01-dark.png);
    }
    
    .darkroom-container-style .plus::before {
        opacity: 0.7;
        background-image: url(../Media/9/pro-stack-01-dark.png);
    }
    
    .darkroom-container-style h4 {
        opacity: 1;
        color: #FFFFFF;
    }

    .darkroom-container-style ul {
        color: #FFFFFF;
        opacity: 0.7;
    }




    /* PODCASTS */
    
    /* PODCAST STRUCTURE */

    .podcast .link:hover {
        border: 2px solid #52AA91;
        background-color: #52AA91;
    }

    .podcast .author::before {
        background-image: url(../Media/10/author-na.png);
    }

    .podcast .author:hover::before {
        background-image: url(../Media/10/author-a.png);
    }

    /* TEXT BLOCK */

    .darkroom-podcasts h3 {
        color: #FFFFFF;
    }

    .darkroom-podcasts p {
        opacity: 0.7;
        color: #FFFFFF
    }

    .view-all-posts {
        color: #FFFFFF;
        background-color: #52AA91;
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(128, 128, 128, 0);
    }

    .view-all-posts:hover {
        opacity: 1;
        background-color: #52AA91;
    }

    .view-all-posts p {
        color: #FFFFFF;
    }

    .view-all-posts:hover img {
        right: 22px;
        opacity: 1;
    }

    

    /* FOOTER */
    
    footer .button-link {
        opacity: 0.9;
        color: #FFFFFF;
        background-color: #52AA91;

    }
    
    footer ul {
        background-image: url(../Media/11/footer-back.png);
        opacity: 0.7;
    }

    footer ul li a {
        color: #FFFFFF;
    }
    
    footer ul li a:hover {
        color: #79CAB5;
    }
    
    
}