footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px min-content;
}

footer .button-link {
    padding-top: 26px;

    font-size: 20px;
    text-decoration: none;
    text-align: center;

    opacity: 0.8;
    color: #FFFFFF;
    background-color: #9EC4B7;

    grid-row: 1;
}

footer ul {
    text-align: center;

    width: 100%;
    margin: 0px auto 0px auto;
    padding: 55px 0px 55px 0px;

    grid-row: 2;

    background-image: url(../Media/11/footer-back.png);
    opacity: 1;
    background-size: cover;
}

footer ul li {
    padding-bottom: 15px;
    list-style: none;
}

footer ul li a {
    color: #CCCCCC;
    font-size: 16px;
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
}

footer ul li a:hover {
    color: #77CFB2;
    font-size: 16px;
    text-decoration: none;
}

