footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px min-content;
}

footer .button-link {
    padding-top: 26px;
    font-size: 20px;

    opacity: 0.8;
    color: white;
    background-color: rgb(158, 196, 183);

    text-decoration: none;
    text-align: center;

    grid-row: 1;
}

footer ul {
    text-align: center;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 55px 0px 55px 0px;

    grid-column: 1 / -1;
    grid-row: 2;

    background-image: url(../Media/11/footer-back.png);
    background-size: cover;
}

footer ul li {
    padding-bottom: 15px;
    list-style: none;
}

footer ul li a {
    color: rgb(204, 204, 204);
    font-size: 16px;

    text-decoration: none;

    transition-property: color;
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
}

footer ul li a:hover {
    color: rgb(119, 207, 178);
    font-size: 16px;

    text-decoration: none;
}

