@import url(./1.header.css);
@import url(./2.firstscreen.css);
@import url(./3.workblock.css);
@import url(./4.dashboardblock.css);
@import url(./5.easypeasy.css);
@import url(./6.profits.css);
@import url(./7.comments.css);
@import url(./8.itemsblock.css);
@import url(./9.darkroom.css);
@import url(./10.podcasts.css);

@import url(./footer.css);
@import url(./mobile.css);
@import url(./keyframes.css);
@import url(./dark-mode.css);


@font-face {
    font-family: 'Quicksand';
    src: url(./Fonts/Quicksand-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Quicksand';
    src: url(./Fonts/Quicksand-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: light;
}

@font-face {
    font-family: 'Quicksand';
    src: url(./Fonts/Quicksand-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand';
    src: url(./Fonts/Quicksand-Bold.ttf) format('truetype');
    font-weight: 700;
}

/* CREATE CSS CUSTOP PROPERTIES PALLETTE FOR DARK MODE

rules for better navigation: property: color bright mode // color for dark-mode - in comment on right side */

:root {
    --body-changes: #FFFFFF;
    --border-grey: #E6E6E6;
    --bottom-grey: #ECECEC;
    --comment-grey: #3B424B;
    --dark-mode-yellow: #1B1B1B;
    --darkmode-bottom-black: #222222;
    --darkmode-text-white: #FEFF9B;
    --header-backcolor-white: #FFFFFF;
    --link-footer-grey: #CCCCCC;
    --link-hover-green: #77CFB2;
    --list-grey: #676767;
    --middle-green: #A8CFC2;
    --middle-green-link: #515151;
    --middle-grey: #888888;
    --opacity-color: #333333;
    --pastel-green: #9EC4B7;
    --podcast-green: #9EC4B7;
    --quote-text-before: rgba(0,0,0,0.27);
    --screen-gradient: linear-gradient(to top right, rgb(77, 85, 92), rgb(211, 211, 211));;
    --square-template-grey: #F1F1F1;
    --title-text-grey: #444444;
    --topic-title-grey: #515151;
    --underline-green: #A8CFC2;
    --viewallpost-green: #79CAB5;
}

body {
    margin: 0px;
    max-width: 1920px;
    min-width: 400px;
    background-color: var(--body-changes);

    display: flex;

    flex-wrap: wrap;
    flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
.m-font {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    font-size: 32px;
    color: var(--topic-title-grey);
}

.description {
    font-size: 16px;
    color: var(--topic-title-grey);
}

.create-button {
    height: 19px;
    width: 108px;
    padding: 15px 22px 15px 22px;
    border-radius: 4px;

    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--pastel-green);
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(128, 128, 128, 0);
    text-align: center;

    bottom: 0px;
    position: relative;

    transition-property: opacity, bottom, box-shadow, color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    z-index: 3;
}

.create-button:hover {
    opacity: 1;
    box-shadow: 0px 10px 30px 3px rgba(128, 128, 128, 0.300);
    background-color: var(--middle-green);d

    bottom: 5px;
}