@import url(./1.header.css);
@import url(./2.firstscreen.css);
@import url(./3.workblock.css);
@import url(./4.dashboardblock.css);
@import url(./5.easypeasy.css);
@import url(./6.profits.css);
@import url(./7.comments.css);
@import url(./8.itemsblock.css);
@import url(./9.darkroom.css);
@import url(./10.podcasts.css);

@import url(./footer.css);
@import url(./mobile.css);
@import url(./keyframes.css);

@font-face {
    font-family: 'Quicksand';
    src: url(./Fonts/Quicksand-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Quicksand';
    src: url(./Fonts/Quicksand-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: light;
}

@font-face {
    font-family: 'Quicksand';
    src: url(./Fonts/Quicksand-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand';
    src: url(./Fonts/Quicksand-Bold.ttf) format('truetype');
    font-weight: 700;
}

body {
    margin: 0px;
    max-width: 1920px;
    min-width: 400px;

    display: flex;

    flex-wrap: wrap;
    flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
.m-font {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}


::-webkit-scrollbar { 
    display: none; 
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.title {
    font-size: 32px;
    color: #515151;
}

.description {
    font-size: 16px;
    color: #676767;
}

.create-button {
    height: 19px;
    width: 108px;
    padding: 15px 22px 15px 22px;
    border-radius: 4px;

    font-size: 14px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    background-color: rgb(158, 196, 183);
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(128, 128, 128, 0);
    text-align: center;

    bottom: 0px;
    position: relative;

    transition-property: opacity, bottom, box-shadow, color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    z-index: 3;
}

.create-button:hover {
    opacity: 1;
    box-shadow: 0px 10px 30px 3px rgba(128, 128, 128, 0.300);
    background-color: rgb(168, 207, 194);

    bottom: 5px;
}