@import url("./0.basic.css");
@import url("./1.header.css");
@import url("./2.firstscreen.css");
@import url("./3.workblock.css");
@import url("./4.dashboardblock.css");
@import url("./5.easypeasy.css");
@import url("./6.profits.css");
@import url("./7.comments.css");
@import url("./8.itemsblock.css");
@import url("./9.darkroom.css");
@import url("./10.podcasts.css");
@import url("./footer.css");
@import url("./mobile.css");
@import url("./keyframes.css");
/* CREATE CSS CUSTOP PROPERTIES PALLETTE FOR DARK MODE

rules for better navigation: property: color bright mode // color for dark-mode - in comment on right side */
body.light {
  --body-changes: #fff;
  --border-grey: #e6e6e6;
  --bottom-grey: #ececec;
  --comment-grey: #3b424b;
  --dark-mode-yellow: #1b1b1b;
  --darkmode-bottom-black: #222;
  --darkmode-text-white: #feff9b;
  --header-backcolor-white: #fff;
  --link-footer-grey: #ccc;
  --link-hover-green: #77cfb2;
  --list-grey: #676767;
  --middle-green: #a8cfc2;
  --middle-green-link: #515151;
  --middle-grey: #888;
  --opacity-color: #333;
  --pastel-green: #9ec4b7;
  --podcast-green: #9ec4b7;
  --quote-text-before: rgba(0,0,0,0.27);
  --screen-gradient: linear-gradient(to top right, #4d555c, #d3d3d3);
  --square-template-grey: #f1f1f1;
  --title-text-grey: #444;
  --topic-title-grey: #515151;
  --underline-green: #a8cfc2;
  --viewallpost-green: #79cab5;
/* IMAGES */
  --dark-mode-pic: url("./Media/moon.png");
  --dashboard-template-first-pic: url("./Media/2/1.png");
  --dashboard-template-second-pic: url("./Media/2/2.jpg");
  --easypeasy-template-first-pic: url("./Media/3/1.png");
  --easypeasy-template-second-pic: url("./Media/3/2.jpg");
  --footer-back-image: url("./Media/11/footer-back.png");
  --free-template-pic: url("./Media/9/basic-stack-01.png");
  --plus-template-pic: url("./Media/9/pro-stack-01.png");
  --profits-template-first-pic: url("./Media/4/1.png");
  --profits-template-second-pic: url("./Media/4/2.jpg");
  --workblock-template-first-pic: url("./Media/1/1.png");
  --workblock-template-second-pic: url("./Media/1/2.png");
  --done-pic: url("./Media/2/done.png");
/* EFFECTS */
  --opacity-descrease: 1;
  --opacity-increase: 0.7;
}
body.dark {
  --body-changes: #060a0f;
  --border-grey: #35393f;
  --bottom-grey: #35393f;
  --comment-grey: #35393f;
  --dark-mode-yellow: #fff;
  --darkmode-bottom-black: #fff;
  --darkmode-text-white: #000;
  --header-backcolor-white: #24272b;
  --link-footer-grey: #fff;
  --link-hover-green: #79cab5;
  --list-grey: #fff;
  --middle-green: #79cab5;
  --middle-green-link: #79cab5;
  --middle-grey: #fff;
  --opacity-color: #24272b;
  --pastel-green: #79cab5;
  --podcast-green: #52aa91;
  --quote-text-before: #000;
  --screen-gradient: linear-gradient(to top right, #24272b, #d3d3d3);
  --square-template-grey: #35393f;
  --title-text-grey: #fff;
  --topic-title-grey: #fff;
  --underline-green: #52aa91;
  --viewallpost-green: #52aa91;
/* IMAGES */
  --author-face-pic: url("./Media/10/author-a.png");
  --dark-mode-pic: url("./Media/Sun.png");
  --dashboard-template-first-pic: url("./Media/2/1-dark.png");
  --dashboard-template-second-pic: url("./Media/2/2-dark.png");
  --easypeasy-template-first-pic: url("./Media/3/1-dark.png");
  --easypeasy-template-second-pic: url("./Media/3/2-dark.png");
  --footer-back-image: url("./Media/11/footer-back.png");
  --free-template-pic: url("./Media/9/basic-stack-01-dark.png");
  --plus-template-pic: url("./Media/9/pro-stack-01-dark.png");
  --profits-template-first-pic: url("./Media/4/1-dark.png");
  --profits-template-second-pic: url("./Media/4/2-dark.png");
  --workblock-template-first-pic: url("./Media/1/1-dark.png");
  --workblock-template-second-pic: url("./Media/1/1-dark.png");
  --done-pic: url("./Media/2/done-dark.png");
/* EFFECTS */
  --opacity-descrease: 1;
  --opacity-increase: 0.7;
}
